h2 {
    background-color: grey;
}

.corps {
    display: flex;
    flex-direction: column;

}

.entete {
    display: flex;
    flex-direction: row;
}

#infos {
    display: flex;
    flex-direction: column;
}

#nom {
    background-color: grey;
    display: flex;
    justify-content: center;
}